<div class="container navbar">
    <select class="select-css form-control" [(ngModel)]="selectedItem" (change)="changeSource($event.target.selectedIndex)">
        <option *ngFor="let source of sources" [ngValue]="source">{{source.name}}</option>
    </select>
</div>

<div class="container main">
    <div *ngFor="let article of newsArticles" class="child">
        <div class="clippy" (deferLoad)="article.show=true">
            <div *ngIf=article.show>
                <a href="{{article.url}}">
                    <img src="{{article.urlToImage}}">
                </a>
            </div>
        </div>
        <a class="text-link" href="{{article.url}}" [innerHtml]=article.title></a>
        <p [innerHtml]=article.description></p>
    </div>
</div>

